.main-nav__button {
  margin: 0;
  padding: 0;
  border: none;
  width: 20px;
  height: 14px;
  background-color: transparent;
  background-image: url("../../img/menu.svg");
}

.main-nav__list {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}
