.order-form__promo-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $primary-text;
}

.order-form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.order-form__required-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $primary-text;
}
