.page-header {
  position: relative;
}

.page-header__logo {
  display: flex;
  justify-content: center;
  padding: 22px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}
