.page {
  height: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}
