.product__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $primary-heading;
}

.product__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
}

.product__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}
