.promo__title {
  margin: 0;
  padding: 73px 30px 120px 30px;
  text-align: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  background-image: url("../img/hero-mobile2x1.jpg");
  background-repeat: no-repeat;
  background-position: top -17px center;
}

.promo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
