.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $black;
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reviews__item-wrapper {
  margin: 0;
}

.reviews__content {
  margin: 0;
}

.reviews__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: $grey;
}

.reviews__author {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $black;
}

.reviews__nick-name {
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  color: $grey;
}

.reviews__button {
  font-size: 18px;
  line-height: 20px;
}
