.site-list__item {
  border-bottom: 1px solid $light-grey;

  &--bottom {
    display: none;
  }
}

.site-list__link {
  display: block;
  padding: 27px 0 27px 76px;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $black;
}
